.AddSession{
    margin-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AddSession button{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin:5px;
}
.AddSession table{    
    table-layout: fixed;
    border-collapse: collapse;
    width: 90%;    
 }

.AddSession thead th:nth-child(1) {
    width: 9%;
 }
   
.AddSession thead th:nth-child(2) {
    width: 14%;
 }
  
.AddSession thead th:nth-child(3) {
    width: 14%;
 }
   
.AddSession thead th:nth-child(4) {
    width: 29%;
 }
  
.AddSession thead th:nth-child(5) {
    width: 19%;
}
.AddSession thead th:nth-child(6) {
    width: 5%;
}