footer{
    outline:1px solid salmon;
    height: 3rem; 

    width: 100%;
    display: flex;
    padding: 4px;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
    font-size: 1rem;
}
footer a{
    text-decoration: none;
}