.NewTournament{
    position: relative;
    margin-block: 60px;
    width: 100%;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.NewTournament button{
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}