.SignUp{
    position: relative;
    margin-top: 60px;
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.SignUp input{
    margin: 10px;
}